apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nginx

resources:
- ns.yaml


helmChartInflationGenerator:
- chartName: nginx
  chartRepoUrl: https://charts.bitnami.com/bitnami
  chartVersion: 13.2.24
  releaseName: my-nginx-release
  releaseNamespace: nginx-chart
  # override with these custom values
  values: values.yaml

patches:
- path: gcp-sa-patches.yaml
- path: configmap_patches.yaml


