apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nginx
helmCharts:
- name: nginx
  releaseName: nginx
  includeCRDs: true
  version: 0.7.1
  namespace: nginx
  repo:  https://helm.nginx.com/stable
  valuesFile: values.yaml

patches:
- path: gcp-sa-patches.yaml