apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ingress-nginx

resources:
- ingress.yaml

helmCharts:
- name: ingress-nginx
  releaseName: ingress-nginx
  includeCRDs: true
  version: 4.4.2
  namespace: ingress-nginx
  repo:  https://kubernetes.github.io/ingress-nginx
  valuesFile: values.yaml

# patches:
# - path: gcp-sa-patches.yaml



