apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jenkins
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: googlecasclusterissuer-sample
spec:
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: jenkins
            port: 
              number: 8080
    host: jenkins.srush.test
  tls:
    - hosts:
      - jenkins.srush.test
      secretName: jenkins-tls
#fixed yaml