apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: jenkins

resources:
  - secret-store.yaml
  - secret.yaml
  # - ingress.yaml
  
helmCharts:
- name: jenkins
  releaseName: jenkins
  includeCRDs: true
  version: 4.3.1
  namespace: jenkins
  repo:  https://charts.jenkins.io
  valuesFile: values.yaml

patches:
- path: gcp-sa-patches.yaml
